body {
    background-color: #383838;
}

#nav-logo {
    width: 120px;
    position: relative;
    margin-left: 24%;
    margin-top: 30px;
    margin-bottom: 15px;
}

ul.side-nav {
    background-color: #383838;
    margin-top: 0px;
}

ul.side-nav li {
    overflow: hidden;
    padding: 0px;
    height: 65px;
    line-height: 65px;
}

ul.side-nav li:hover {
    background-color: #383838;
}

ul.side-nav a {
    display: block;
    height: 100%;
    padding-left: 20px;
    color: #ddd;
    font-family: 'NeutraDemi';
    font-size: 1.5em;
        
    -webkit-transition: 0.1s;
	-moz-transition:    0.1s;
	-o-transition:      0.1s;
	-ms-transition:     0.1s;
    transition:         0.1s;
}

ul.side-nav a:hover {
    background-color: #81A684;
    color: #fff;
}

.header {
    margin-top: 30px;
}

.header-wrapper {
    background-color: #81A684;
    margin-bottom: 50px;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:
}

.button-collapse i {
    font-size: 3em;
    color: #fff;
}

.page-title {
    color: #fff;
    font-family: 'NeutraBook';
    font-size: 4em;
    text-align: center;
    margin-left: 20px;
}

.set-picker {
    margin-top: 30px;
}

.butt {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'ColabLight';
    font-size: 1.5em;
    color: #fff;
    
    background-color: #81A684;
    border: 1px solid #fff;
    
    -webkit-transition: 0.5s;
	-moz-transition:    0.5s;
	-o-transition:      0.5s;
	-ms-transition:     0.5s;
    transition:         0.5s;
}

.butt:hover {
    box-shadow: 0px 0px 5px #444;
}

.dropdown-content {
    background-color: #383838;
    box-shadow: none;
    border: 1px solid #fff;
    
    box-shadow: 0px 2px 8px #000;
}

.dropdown-content a {
    color: #81A684;
    //transition: 0.2s;
    text-align: center;
    
    -webkit-transition: 0.1s;
	-moz-transition:    0.1s;
	-o-transition:      0.1s;
	-ms-transition:     0.1s;
    transition:         0.1s;
}

.dropdown-content a:hover {
    background-color: #81A684;
    color: #fff;
}

.galleria {
    width: 100%;
    height: 100px;
}

.galleria-container {
    background-color: #383838;
}

body .galleria-thumbnails .galleria-image {
    width: 230px;
}

.footer {
    margin-top: 50px;
    text-align: center;
    color: #777;
    font-size: 0.7em;
    margin-bottom: 30px;
}

/* Larger than tablet */
@media (min-width: 600px) {
    .set-picker {
        margin-top: 22px;
    }
}
