<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Sam Tang">
        <meta name="keywords" content="Gomoku, Amherst College, Games, AngularJS">
        <meta name="description" content="Play Gomoku against an AI">
        
        <title>Gomoku</title>
        
        <!--jquery-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        <!--angularjs-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/boardcontroller.js" type="text/javascript"></script>
        <script src="js/spacecontroller.js" type="text/javascript"></script>

        <link href="http://fonts.googleapis.com/css?family=Advent+Pro:700|Megrim" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    
    <body ng-app="Gomoku" ng-controller="BoardController">
        <div id="intro">
            <div id="intro-text">
               <div>
                    <div class="circle-blue"></div>
                    <div class="circle-red"></div>
                </div>
                <p>
                    Welcome to Gomoku!<br>
                    -This is a work in progress-
                </p>
                <p>
                    The goal of Gomoku is to get five of the same color in a row.
                    Blue goes first. 
                </p>
                <p>
                    current features:
                </p>
                <ul>
                    <li>Play Gomoku with a friend!</li>
                </ul>
                <p>
                    coming soon:
                </p>
                <ul>
                    <li>Play against an AI opponent</li>
                </ul>
            </div>
            <div id="intro-buttons">
                <div class="button"
                     id="start"
                     ng-click="hideIntro()">got it!</div>
            </div>
        </div>
        
        <div id="main-body">
           
            <div id="title-container">
                <h1>go*mo*k<span id="u">u</span></h1>
            </div>
            
            <div id="board-container">
                <div id="board">
                    <div ng-repeat="row in boardData" 
                       class="circle-row">
                        <div ng-repeat="space in row"
                             ng-controller="SpaceController"
                             class="circle-box"
                             ng-mouseenter="mouseEnter()"
                             ng-mouseleave="mouseLeave()"
                             ng-click="onClick()"
                             data-row={{space.row}} 
                             data-col={{space.col}}>
                             
                            <div ng-class="space.class"
                                data-row={{space.row}}
                                data-col={{space.col}}>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
            <div id="buttons">
                <div class="button" id="reset" ng-click="reset()">new game</div>
                <div class="circle-box" id="curr-player-box">
                    <div id="curr-player-piece"></div>
                </div>
                <div id="winner-status"></div>
            </div>

       </div>
        
        
    </body>
</html>